/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.blog-post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.blog-post h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.blog-post p {
    margin-bottom: 10px;
    line-height: 30px;
}

.blog-post a {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.blog-post a:hover {
    background-color: #444;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both;
}
.heading{
    text-align: center;
}
@media screen and (min-width: 1396px) {
    /* styles for screens wider than 1396px */
}
@media screen and (min-width: 761px) and (max-width: 1395px) {
    /* styles for screens between 761px and 1395px */
    div.post {
        width: 45%;
    }
}
@media screen and (max-width: 760px) {
    /* styles for screens narrower than 760px */
    div.post {
        width: 94%;
    }
}
img {
    max-width: 100%;
    height: auto;
    display: inline-block;
  }
